page-customer-type {
  .bu-img{
    width: 30%;
    margin: auto;
    display: block;
  }
  .aa{
    text-align: center;
    font-size: 20px;
    color: #3399cc;
  }
  .my-wrapper{
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
    font-size: 15px;
    color: #3399cc;
  }
  .box-wrapper{
    border: 3px solid #3399cc;
    margin-bottom: 2rem !important;
  }
  .box-wrapper2{
    border: 1px solid #3399cc;
    margin-bottom: 2rem !important;
  }
}
