page-shipping-address {
    .footer{
        .button{
            height: 45px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .compass-img-wrapper{
        background: #3399cc;
        padding: 4px;
        .compass-img{
            position: relative;
            top: 4px;
        }
    }
}   
